body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.container-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  border: solid black 1px;
}
.boxes {
  display: flex;
  border: solid rgb(207, 207, 207) 1px;
}
.button-container {
  display: flex;
  margin-top: 24px;
  margin-bottom: 0;
  padding: 24px;
  padding-bottom: 0;
  border: solid 1px black;
}
.squares {
  margin: 10px auto;
}
